<h1><%= @cats.name %> the cute cat :3</h1>

<table>
  <thead>
    <th>Attribute</th>
    <th>Value</th>
  </thead>

  <tbody>
    <tr>
      <td>Age:</td>
      <td><%= @cats.age %></td>
    </tr>

    <tr>
      <td>Birthday:</td>
      <td><%= @cats.birth_date %></td>
    </tr>

    <tr>
      <td>Color:</td>
      <td><%= @cats.color %></td>
    </tr>

    <tr>
      <td>Sex:</td>
      <td><%= @cats.sex %></td>
    </tr>

    <tr>
      <td>Description:</td>
      <td><%= @cats.description %></td>
    </tr>
  </tbody>
</table>

<a href="../cats">Back to index</a> -- <a href="/cats/<%= @cats.id %>/edit">Edit this cat</a>